# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Certificates
*.pem

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/main

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

env.json

google-config.json
lan-b2b-bot-ed120a8abb37.json
.env

__debug_bin